<h1 mat-dialog-title>
  Update
  <small><b>{{ data[0].name }}</b></small>
</h1>
<form mat-dialog-content [formGroup]="updateUserForm">
  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput
           formControlName="name"
           required
           title="user name"
           placeholder="user name">
    <mat-icon matSuffix>face</mat-icon>
    <mat-hint>min 5 characters</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>IP Address</mat-label>
    <input matInput
           formControlName="ip"
           required
           title="connected with ..."
           placeholder="fill in connection ip">
    <mat-icon matSuffix>account_tree</mat-icon>
    <mat-hint>ip: 10.0.8.74</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User Password</mat-label>
    <input matInput
           type="password"
           required
           formControlName="password"
           title="user password"
           placeholder="user password" #pwd>
    <button mat-icon-button aria-label="show password" matSuffix (click)="togglePassword(pwd)">
      <mat-icon matSuffix *ngIf="!isPasswordVisible">visibility</mat-icon>
      <mat-icon matSuffix *ngIf="isPasswordVisible">visibility_off</mat-icon>
    </button>
    <mat-hint>min 1 capital character</mat-hint>
  </mat-form-field>

  <button (click)="updateUserData()"
          color="primary"
          mat-raised-button>Save & Close</button>
</form>
